.rate-header, .rate-with-compose .rate-header {
    border-bottom: 1px solid #c8c8c8
}

.sufei-tb-dialog .mui-dialog-skin {
    display: none
}

.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both
}

.rate-grid .rate-gift s {
    background-image: url(//img.alicdn.com/tps/i3/T1TAZ7Xo0gXXboGKr.-487-21.png);
    background-repeat: no-repeat
}

.rate-graph, .rate-score {
    display: inline-block;
    vertical-align: top
}

.rate-score {
    width: 75px;
    padding: 0 20px;
    border-right: 1px dotted #ddd;
    text-align: center
}

.rate-score h4 {
    color: #404040;
    font-size: 12px;
    font-weight: 100
}

.rate-score strong {
    color: #f60;
    font-family: arial;
    font-size: 32px;
    line-height: 32px;
    margin: 0 2px
}

.rate-score p {
    padding-top: 1px;
    padding-left: 7px;
    text-align: left
}

.rate-score .score-value-no, .rate-score .score-value-no em {
    background: url(//img.alicdn.com/tps/i1/T1HMnMXmVqXXcb2O3B-114-122.png) 0 -27px no-repeat;
    display: block;
    width: 60px;
    height: 12px;
    overflow: hidden
}

.rate-score .score-value-no em {
    background-position: 0 -15px
}

.rate-score .score-value-5 em {
    width: 60px
}

.rate-score .score-value-4d9 em {
    width: 58px
}

.rate-score .score-value-4d8 em {
    width: 57px
}

.rate-score .score-value-4d7 em {
    width: 56px
}

.rate-score .score-value-4d6 em {
    width: 55px
}

.rate-score .score-value-4d5 em {
    width: 54px
}

.rate-score .score-value-4d4 em {
    width: 53px
}

.rate-score .score-value-4d3 em {
    width: 52px
}

.rate-score .score-value-4d2 em {
    width: 51px
}

.rate-score .score-value-4d1 em {
    width: 50px
}

.rate-score .score-value-4 em {
    width: 49px
}

.rate-score .score-value-3d9 em {
    width: 46px
}

.rate-score .score-value-3d8 em {
    width: 45px
}

.rate-score .score-value-3d7 em {
    width: 44px
}

.rate-score .score-value-3d6 em {
    width: 43px
}

.rate-score .score-value-3d5 em {
    width: 42px
}

.rate-score .score-value-3d4 em {
    width: 41px
}

.rate-score .score-value-3d3 em {
    width: 40px
}

.rate-score .score-value-3d2 em {
    width: 39px
}

.rate-score .score-value-3d1 em {
    width: 38px
}

.rate-score .score-value-3 em {
    width: 37px
}

.rate-score .score-value-2d9 em {
    width: 34px
}

.rate-score .score-value-2d8 em {
    width: 33px
}

.rate-score .score-value-2d7 em {
    width: 32px
}

.rate-score .score-value-2d6 em {
    width: 31px
}

.rate-score .score-value-2d5 em {
    width: 30px
}

.rate-score .score-value-2d4 em {
    width: 29px
}

.rate-score .score-value-2d3 em {
    width: 28px
}

.rate-score .score-value-2d2 em {
    width: 27px
}

.rate-score .score-value-2d1 em {
    width: 26px
}

.rate-score .score-value-2 em {
    width: 25px
}

.rate-score .score-value-1d9 em {
    width: 22px
}

.rate-score .score-value-1d8 em {
    width: 21px
}

.rate-score .score-value-1d7 em {
    width: 20px
}

.rate-score .score-value-1d6 em {
    width: 19px
}

.rate-score .score-value-1d5 em {
    width: 18px
}

.rate-score .score-value-1d4 em {
    width: 17px
}

.rate-score .score-value-1d3 em {
    width: 16px
}

.rate-score .score-value-1d2 em {
    width: 15px
}

.rate-score .score-value-1d1 em {
    width: 14px
}

.rate-score .score-value-1 em {
    width: 13px
}

.rate-score .score-value-0d9 em {
    width: 10px
}

.rate-score .score-value-0d8 em {
    width: 9px
}

.rate-score .score-value-0d7 em {
    width: 8px
}

.rate-score .score-value-0d6 em {
    width: 7px
}

.rate-score .score-value-0d5 em {
    width: 6px
}

.rate-score .score-value-0d4 em {
    width: 5px
}

.rate-score .score-value-0d3 em {
    width: 4px
}

.rate-score .score-value-0d2 em {
    width: 3px
}

.rate-score .score-value-0d1 em {
    width: 2px
}

.rate-score .score-value-0 em {
    width: 1px
}

.rate-graph {
    padding-left: 90px;
    padding-top: 22px;
    width: 450px
}

.graph-scroller, .rate-graph .graph-scroller em {
    background: url(//img.alicdn.com/tps/i3/T1TAZ7Xo0gXXboGKr.-487-21.png) no-repeat
}

.graph-scroller {
    width: 400px;
    height: 16px;
    text-align: left;
    position: relative
}

.rate-graph .graph-scroller span {
    position: absolute;
    height: 22px;
    top: -24px;
    left: 13px
}

.rate-graph .graph-scroller em {
    background-position: -417px 2px;
    color: #fff;
    display: block;
    float: right;
    height: 23px;
    width: 30px;
    line-height: 19px;
    text-align: center
}

.graph-desc {
    padding-left: 40px
}

.graph-desc li {
    float: left;
    width: 80px;
    text-align: center;
    color: grey
}

.rate-header {
    border: 1px solid #c8c8c8;
    padding: 10px 0;
    display: none
}

.rate-header-tags {
    display: block
}

.rate-header-barcharts .rate-graph, .rate-header-tags .rate-graph {
    display: none
}

.rate-header-barcharts .rate-score {
    border-right: 0
}

.rate-header-barcharts .rate-barcharts-box {
    border-left: 1px dotted #ddd
}

.rate-toolbar {
    background: #EFEFEF;
    border: 1px solid #c8c8c8;
    height: 24px;
    line-height: 24px;
    padding: 5px 10px;
    text-align: right
}

.rate-toolbar .rate-chat-btn label, .rate-toolbar .rate-filter label {
    padding-right: 5px;
    display: inline-block
}

.rate-toolbar .rate-list-hascontent {
    margin-left: 10px
}

.rate-toolbar .rate-filter {
    float: left;
    overflow: hidden;
    padding-left: 2px
}

.rate-toolbar .rate-filter input {
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle
}

.rate-toolbar .rate-chat-btn {
    float: left;
    padding-left: 2px;
    position: relative
}

.rate-toolbar .rate-chat-btn input {
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle
}

.rate-toolbar .rate-chat-btn .rate-chat-tip {
    position: absolute;
    width: 100px;
    height: 14px;
    top: -6px;
    left: 60px;
    background-color: #F25656;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    border-radius: 2px
}

.rate-toolbar .rate-chat-btn .rate-chat-tip::after {
    display: block;
    width: 12px;
    height: 8px;
    background: url(//gtms04.alicdn.com/tps/i4/TB1rBScLpXXXXa7aXXXcj3N.VXX-12-8.png) center no-repeat;
    position: absolute;
    bottom: -7px;
    left: 0;
    content: '\020'
}

.rate-toolbar .rate-sort {
    display: inline-block
}

.rate-toolbar .rate-sort a {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ccc;
    padding: 3px 8px;
    color: #333;
    height: 16px;
    vertical-align: top;
    line-height: 16px
}

.rate-toolbar .rate-sort a:hover {
    text-decoration: none
}

.rate-toolbar .rate-sort a.active {
    background: #fff
}

.rate-toolbar .rate-sort .rate-arrow {
    display: block;
    padding-right: 10px;
    background: url(//img.alicdn.com/tps/i2/T19akcXjFiXXaFa4Tr-7-8.png) right 50% no-repeat
}

.rate-grid {
    width: 100%
}

.rate-grid a {
    color: #333
}

.rate-grid table {
    width: 100%;
    table-layout: fixed
}

.rate-grid .rate-new {
    background: #ffffe5
}

.rate-grid td {
    padding: 16px 7px;
    border-bottom: 1px solid #e3e3e3
}

.rate-grid .rate-empty {
    margin: 10px 0 10px 300px;
    padding-left: 90px;
    height: 55px;
    line-height: 50px;
    background: url(//img.alicdn.com/tps/i1/T1dBIJFaJbXXbO2Yvo-76-58.png) no-repeat;
    color: #666
}

.rate-grid .col-master {
    width: 420px;
    padding-right: 30px
}

.rate-grid .col-meta {
    width: 135px;
    color: #999
}

.rate-grid .col-author {
    padding-right: 0
}

.rate-grid .rate-gift {
    margin-top: 10px;
    color: #999
}

.rate-grid .rate-gift s {
    display: inline-block;
    vertical-align: -2px;
    background-position: -455px 0;
    width: 16px;
    height: 14px;
    margin-left: 5px
}

.rate-grid .rate-content, .rate-grid .rate-reply {
    word-wrap: break-word;
    word-break: break-all;
    line-height: 19px;
    max-height: 190px;
    overflow: hidden
}

.rate-grid .rate-content-collapse {
    height: 190px
}

.rate-grid .rate-content-expand {
    height: auto;
    max-height: none
}

.rate-full-trigger {
    height: 14px;
    padding: 6px 0 0
}

.rate-full-trigger span {
    float: right;
    width: 14px;
    height: 10px;
    overflow: hidden;
    cursor: pointer;
    background: url(//img.alicdn.com/tps/i3/T150LDXXJhXXbTQ82d-16-200.png) -1px -41px no-repeat
}

.rate-full-trigger .rate-collapse {
    background-position: -1px -55px
}

.rate-grid .rate-content {
    color: #333;
    display: inline-block;
    background: #fffdcd;
    font-weight: 400
}

.rate-content span {
    color: #999
}

.rate-grid .rate-reply {
    color: #AF874D;
    margin-top: 8px
}

.rate-grid .rate-date {
    color: #ccc
}

.rate-append {
    position: relative;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    margin: 10px 0 0 6px;
    padding: 10px
}

.rate-append s {
    background: url(//img.alicdn.com/tps/i4/T1HGA8XflfXXboGKr.-487-21.png) -480px 0 no-repeat;
    width: 7px;
    height: 6px;
    position: absolute;
    left: -6px;
    top: -1px;
    overflow: hidden
}

.rate-append .rate-daydiff {
    color: #999
}

.rate-grid .col-meta p span {
    color: #666
}

.rate-grid .rate-sku {
    margin-bottom: 3px
}

.rate-grid .rate-user-profile p {
    margin-right: 5px
}

.rate-grid .rate-user-info {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 95px
}

.rate-grid .rate-user-info span {
    color: #999
}

.rate-grid .rate-user-grade p.gold-user {
    color: #C09459
}

.rate-paginator {
    margin-top: 20px;
    text-align: right;
    background: url(//img.alicdn.com/tfs/TB1dPA5RXXXXXboaXXXXXXXXXXX-70-20.png) right 0 no-repeat;
    padding: 20px 0 10px;
    margin-right: 30px
}

.rate-page a, .rate-page span {
    display: inline-block;
    vertical-align: top;
    height: 27px;
    line-height: 27px;
    padding: 5px 14px;
    border: 1px solid #e5e5e5;
    border-width: 1px 1px 1px 0;
    color: #2953a6;
    font-size: 14px
}

.rate-page a:hover {
    background-color: #efefef
}

.rate-page span {
    color: #999
}

.rate-page .rate-page-prev {
    border-width: 1px
}

.rate-page .rate-page-break {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    line-height: 20px
}

.rate-date .rate-share {
    position: static;
    display: inline-block;
    margin-left: 12px;
    vertical-align: top
}

.rate-beta {
    position: absolute;
    background: url(//img.alicdn.com/tps/i1/T1qcukXv8dXXbvDvzb-24-12.png) no-repeat;
    width: 24px;
    height: 12px
}

.publicize, .rate-sort-recommend {
    position: relative
}

.rate-sort-recommend .rate-beta {
    top: -14px;
    left: 6px
}

.rate-w790 .rate-grid .col-master {
    width: 460px
}

.rate-w990 .rate-grid .col-master {
    width: 588px;
    padding-left: 24px
}

.rate-w990 .rate-grid .col-meta {
    width: 215px
}

.publicize {
    padding: 8px 0;
    border: 1px solid #F19000;
    overflow: hidden;
    text-align: center;
    color: #f60;
    margin-bottom: 5px;
    margin-top: 5px
}

.publicize .pubmore {
    position: absolute;
    right: 5px;
    width: 120px;
    top: 10px
}

.publicize .pubmore .ui-msg-icon {
    top: -4px
}

.rate-grid .tm-col-master {
    width: 494px;
    padding-right: 30px
}

.rate-w790 .rate-grid .tm-col-master {
    width: 460px
}

.rate-w990 .rate-grid .tm-col-master {
    width: 588px;
    padding-left: 24px
}

.rate-grid .tm-rate-content, .rate-grid .tm-rate-reply {
    word-wrap: break-word;
    word-break: break-all;
    line-height: 19px;
    overflow: hidden
}

.rate-grid .tm-rate-content-collapse {
    height: 190px
}

.rate-grid .tm-rate-content-expand {
    height: auto;
    max-height: none
}

.rate-grid .tm-rate-content {
    color: #333
}

.rate-grid .tm-rate-content .tm-rate-fulltxt b {
    display: inline-block;
    color: #ff0036;
    font-weight: 400
}

.tm-rate-content span {
    color: #999
}

.rate-grid .tm-rate-date {
    clear: both;
    color: #ccc
}

.tm-rate-date .rate-share {
    position: static;
    display: inline-block;
    margin-left: 12px;
    vertical-align: -4px;
    vertical-align: top
}

.rate-grid .tm-rate-reply {
    color: #AF874D;
    margin-top: 8px
}

.tm-rate-premiere {
    padding-bottom: 10px;
    min-height: 40px
}

.tm-rate-append, .tm-rate-premiere {
    clear: both;
    position: relative;
    padding-left: 105px
}

.tm-rate-append .tm-rate-tag, .tm-rate-premiere .tm-rate-tag {
    width: 104px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0
}

.tm-rate-tag .tm-rate-title {
    color: #999
}

.tm-rate-premiere .tm-rate-tag\ff0c.tm-rate-append .tm-rate-tag {
    text-indent: 9px;
    line-height: 22px;
    color: grey
}

.rate-charts {
    overflow: hidden;
    background: #f4f4f4
}

.rate-charts .rate-charts-left, .rate-charts .rate-charts-right {
    display: inline-block;
    width: 394px;
    height: 110px
}

.rate-charts .rate-charts-left {
    border-top: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8
}

.rate-charts .rate-charts-right {
    border-top: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8
}

.rate-w990 .rate-charts .rate-charts-left, .rate-w990 .rate-charts .rate-charts-right {
    display: inline-block;
    width: 494px;
    height: 110px
}

.rate-toolbar .tm-rate-age, .rate-toolbar .tm-rate-hair, .rate-toolbar .tm-rate-skin, .rate-toolbar .tm-rate-sort {
    display: inline-block;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    text-indent: -1em
}

.rate-grid .rate-user-info .tm-review-usernick {
    color: #000
}

.rate-barcharts-box {
    position: relative;
    width: 630px;
    display: inline-block;
    vertical-align: top;
    padding-left: 40px
}

.rate-barcharts-box .inner {
    margin-right: -40px;
    position: relative;
    height: 140px;
    overflow: hidden
}

.charttip {
    position: absolute;
    width: 82px;
    border-color: #000;
    filter: alpha(opacity=75);
    -moz-opacity: .75;
    -khtml-opacity: .75;
    opacity: .75;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    padding: 4px 8px 1px;
    display: none;
    background-color: #000;
    z-index: 10
}

.charttip i {
    position: absolute;
    display: block;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    margin-top: 0
}

.rate-barcharts-box .rate-barchart {
    float: left;
    width: 180px;
    height: 140px;
    margin-right: 40px
}

.rate-barcharts-box-two-row .rate-barchart {
    width: 212px;
    margin-right: 110px
}

.rate-barcharts-box .more {
    position: relative;
    cursor: pointer;
    width: 40px;
    text-align: center;
    margin: 0 auto;
    padding-right: 10px;
    background: url(//img.alicdn.com/tps/TB16ViJLpXXXXadXFXXXXXXXXXX-10-85.png) 34px 8px no-repeat
}

.rate-barcharts-box .more:hover {
    color: #ff0036;
    background-position: 34px -47px
}

.rate-barcharts-box .more-all {
    background-position: 34px -23px
}

.rate-barcharts-box .more-all:hover {
    color: #ff0036;
    background-position: 34px -72px
}

.rate-location {
    color: #666;
    margin-bottom: 20px
}

.rate-location .location-select {
    position: relative;
    z-index: 22;
    display: inline-block;
    text-align: center;
    padding-right: 10px;
    padding-left: 4px
}

.rate-location .location-select .location-current {
    background: url(//img.alicdn.com/tps/TB16ViJLpXXXXadXFXXXXXXXXXX-10-85.png) 47px 7px no-repeat;
    display: inline-block;
    cursor: default;
    height: 16px;
    line-height: 16px;
    width: 54px;
    border: 1px solid #CCC;
    padding-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top
}

.rate-location .location-select li, .tm-more-rate-hd .tm-more-rate-btn {
    cursor: pointer
}

.rate-location .location-select ul {
    display: none;
    position: absolute;
    background: #fff;
    width: 54px;
    padding: 0 8px 0 0;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #DDD;
    overflow: hidden;
    z-index: 1
}

.rate-location .open ul {
    display: block
}

.rate-location .location-select .selected {
    display: none
}

.rate-location em {
    color: #ff0036
}

.rate-location .ps {
    color: #CCC
}

.newcharts-guide {
    position: absolute;
    display: block;
    width: 206px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #FFBD6F;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #FFFDF4;
    color: #F90;
    font-size: 14px;
    z-index: 10
}

.newcharts-guide i.inner, .newcharts-guide i.wraper {
    border-width: 10px;
    border-style: solid;
    width: 0;
    height: 0;
    left: 34px;
    margin-top: 0;
    position: absolute;
    display: block
}

.newcharts-guide i.wraper {
    border-color: transparent transparent #FFBD6F;
    top: -20px
}

.newcharts-guide i.inner {
    border-color: transparent transparent #fff;
    top: -19px
}

.newcharts-guide span {
    position: absolute;
    display: block;
    right: 13px;
    top: -12px;
    width: 34px;
    height: 12px;
    background: url(//img.alicdn.com/tps/TB1sIC_LpXXXXc0aXXXXXXXXXXX-34-12.png) no-repeat
}

.rate-chat, .tm-more-rate-close {
    display: none
}

.rate-chat {
    width: 100%;
    height: 530px;
    position: relative;
    overflow: hidden
}

.tm-more-rate-wrapper .tm-more-rate-hd {
    position: relative;
    padding: 10px 5px;
    background-color: #F0F0F0;
    color: #BBB;
    text-align: center;
    -moz-box-shadow: 0 1px 1px #ccc;
    -webkit-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc
}

.tm-more-rate-wrapper .tm-more-rate-statement {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 5px
}

.tm-more-rate-wrapper .tm-rate-why-more-link {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #BBB
}

.tm-more-rate-hd .tm-more-rate-btn:hover, .tm-more-rate-wrapper .tm-rate-why-more-link:hover {
    color: #69C
}

.tm-more-rate-wrapper.expanded .tm-more-rate-close {
    display: block
}

.tm-more-rate-wrapper.expanded .tm-more-rate-open {
    display: none
}

.tm-more-rate-wrapper.expanded .tm-more-rate-bd {
    height: 300px
}

.tm-more-rate-bd {
    -moz-transition: height .2s linear;
    -webkit-transition: height .2s linear;
    -o-transition: height .2s linear;
    transition: height .2s linear;
    height: 0;
    overflow: auto;
    position: relative
}

.tm-more-last-tip {
    text-align: center;
    width: 100%;
    margin-top: 10px
}

.rate-tag-inner, .rate-tag-list {
    overflow: hidden
}

.rate-tag-box, .rate-tag-label, .rate-tag-list, .rate-tag-toggle {
    display: inline-block;
    vertical-align: top
}

.rate-tag-box {
    width: 630px
}

.rate-tag-label {
    color: #ccc;
    width: 16px;
    height: 61px;
    margin-top: 4px;
    font-size: 11px;
    line-height: 12px;
    padding: 0 12px 0 25px;
    background: url(//img.alicdn.com/tps/i3/T12eC3XklrXXXXXXXX-15-52.png) right center no-repeat
}

.rate-tag-toggle {
    margin-top: 10px;
    width: 13px;
    height: 13px;
    overflow: hidden;
    cursor: pointer;
    background: url(//img.alicdn.com/tps/i3/T1OZn4Xj8XXXaxN9_d-16-330.png) right -96px no-repeat;
    visibility: hidden
}

.rate-tag-toggle-expand {
    background-position: right -109px
}

.rate-tag-list {
    position: relative;
    width: 555px;
    height: 70px
}

.rate-tag-list span {
    float: left;
    height: 22px;
    margin: 7px 6px 6px
}

.rate-tag-list .rate-tag-inner a {
    position: relative;
    float: left;
    border-radius: 2px;
    line-height: 18px;
    padding: 1px 10px;
    background: #fff;
    box-shadow: 2px 2px 1px #f2f2f2;
    border: 1px solid #d3f4e4;
    white-space: nowrap;
    color: #409280
}

.rate-tag-list a i, .rate-tag-list s {
    position: absolute;
    width: 12px;
    height: 12px;
    right: -6px;
    overflow: hidden
}

.rate-tag-list .tag-posi a {
    color: #ff0036;
    border-color: #ffd7dd
}

.rate-tag-list .tag-neg .selected, .rate-tag-list a:hover {
    text-decoration: none;
    background: #d9f5ed;
    border-color: #409280
}

.rate-tag-list .tag-posi .selected, .rate-tag-list .tag-posi a:hover {
    background: #ffe2e2;
    border-color: #ff0036;
    color: #ff0036
}

.rate-tag-list s {
    visibility: hidden;
    bottom: -6px;
    background: url(//img.alicdn.com/tps/i4/T1X.owXeBcXXbRf1g.-12-24.png) 0 -12px no-repeat
}

.rate-tag-list .tag-posi s {
    background-position: 0 0
}

.rate-tag-list .selected s {
    visibility: visible
}

.rate-tag-list a i {
    display: none;
    top: -6px;
    background: url(//img.alicdn.com/tps/i1/T142n0FeBaXXcmZd7.-12-12.png) no-repeat
}

.rate-tag-list a:hover i {
    display: block
}

.rate-subject {
    display: none;
    background: #f6f6f6;
    border: 1px solid #d7d7d7;
    border-width: 0 1px;
    color: #333;
    height: 98px;
    border-top: 1px solid #d7d7d7;
    margin-bottom: 5px;
    border-bottom: 1px solid #d7d7d7
}

.rate-subject h4 {
    float: left;
    font-weight: 400;
    width: 115px;
    height: 60px;
    line-height: 60px;
    margin: 19px 0;
    border-right: 1px dotted #E0E0E0;
    text-align: center
}

.tm-rate .rate-theme-list {
    float: left;
    height: 36px;
    padding: 36px 0 0 30px
}

.rate-theme, .rate-theme h5, .rate-theme ol {
    display: inline-block;
    vertical-align: middle
}

.tm-rate .rate-theme-0 {
    margin-right: 40px
}

.rate-theme h5 {
    font-weight: 400
}

.rate-theme ol {
    width: 200px;
    border: 1px solid #DA485A;
    border-radius: 2px;
    line-height: 15px;
    height: 15px;
    text-align: center
}

.rate-theme li {
    position: relative;
    float: left;
    height: 15px;
    cursor: default;
    margin: 0
}

.rate-theme li span {
    position: absolute;
    top: -22px;
    left: -50%;
    color: #999;
    white-space: nowrap;
    z-index: 2
}

.rate-theme li s {
    position: absolute;
    top: -4px;
    width: 7px;
    height: 4px;
    background: url(//img.alicdn.com/tps/i2/T1rV7cXoxeXXbiw8na-7-34.png) no-repeat;
    overflow: hidden;
    z-index: 2
}

.rate-theme .theme-opt-0 {
    background: url(//img.alicdn.com/tps/i2/T1rV7cXoxeXXbiw8na-7-34.png) 0 -19px repeat-x;
    color: #fff;
    font-weight: 700
}

.rate-theme .theme-opt-0 span {
    color: #D33347
}

.rate-theme .theme-opt-1 {
    background: url(//img.alicdn.com/tps/i2/T1rV7cXoxeXXbiw8na-7-34.png) 0 -4px repeat-x
}

.rate-theme .theme-field {
    width: 100%;
    height: 98px;
    position: absolute;
    top: -40px;
    filter: alpha(opacity=1);
    -moz-opacity: .01;
    -khtml-opacity: .01;
    opacity: .01;
    z-index: 2;
    cursor: pointer
}

.rate-theme .theme-field .upf {
    height: 39px;
    background: #eedbdd
}

.rate-theme .theme-field .downf {
    height: 41px;
    background: #eedbdd
}

.rate-theme .theme-field .middlef {
    height: 17px
}

.rate-theme .addcolor .middlef {
    background: #eedbdd
}

.rate-theme .theme-field-1 {
    right: 0
}

.rate-theme .theme-field-2, .rate-theme .theme-field-3 {
    left: 0
}

.rate-theme .hover {
    filter: alpha(opacity=80);
    -moz-opacity: .8;
    -khtml-opacity: .8;
    opacity: .8
}

.rate-theme .select div.stag {
    height: 6px;
    background: #e9c6ca
}

.rate-theme .hover div.stag {
    display: block
}

.rate-theme div.stag {
    display: none
}

.rate-w790 .rate-graph {
    padding-left: 105px
}

.rate-w790 .rate-tag-box {
    width: 670px
}

.rate-w790 .rate-tag-list {
    width: 590px
}

.rate-w990 .rate-graph {
    padding-left: 160px
}

.rate-w990 .rate-tag-box {
    width: 850px
}

.rate-w990 .rate-tag-list {
    width: 770px
}

.tm-m-photos, .tm-m-photos-thumb {
    zoom: 1
}

.tm-m-photos-thumb {
    margin: 10px 0;
    list-style-type: none;
    height: 40px
}

.tm-m-photos-thumb .tm-current {
    border: 2px solid #f23d6a;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    cursor: auto
}

.tm-m-photos-thumb li {
    float: left;
    border: 2px solid #f2f2f2;
    padding: 2px;
    margin-right: 8px;
    position: relative;
    transition: border-color .2s ease-out
}

.tm-m-photos-thumb img {
    display: block;
    width: 40px;
    height: 40px;
    cursor: url(//img.alicdn.com/tps/i1/T1nTBDFCRbXXbzTk_b-25-20.png), url(//assets.alicdn.com/img/common/zoom_in.cur), auto
}

.tm-m-photo-viewer, .tm-m-photo-viewer img, .tm-m-photos-thumb .tm-current img {
    cursor: url(//img.alicdn.com/tps/i1/T1oq4AFupvXXcu5FDa-20-20.png), url(//assets.alicdn.com/img/common/zoom_out.cur), auto
}

.tm-current .tm-photos-arrow {
    filter: alpha(opacity=100);
    opacity: 1;
    bottom: -12px
}

.tm-photos-arrow {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border: 6px dashed transparent;
    border-top: 6px solid #f23d6a;
    position: absolute;
    left: 15px;
    filter: alpha(opacity=0);
    opacity: 0;
    bottom: -8px;
    background: 0 0
}

.tm-m-photo-viewer {
    position: relative;
    margin: 10px 0;
    border: 1px solid #ccc;
    background: #fff;
    padding: 2px;
    float: left;
    overflow: hidden
}

.tm-m-photo-viewer-navleft, .tm-m-photo-viewer-navright {
    bottom: 0;
    background: url(//assets.alicdn.com/s.gif);
    position: absolute
}

.tm-m-photo-viewer img {
    position: absolute;
    vertical-align: middle
}

@font-face {
    font-family: iconfont;
    src: url(//at.alicdn.com/t/font_1409620886_009208.eot);
    src: url(//at.alicdn.com/t/font_1409620886_009208.eot?#iefix) format('embedded-opentype'), url(//at.alicdn.com/t/font_1409620886_009208.woff) format('woff'), url(//at.alicdn.com/t/font_1409620886_009208.ttf) format('truetype'), url(//at.alicdn.com/t/font_1409620886_009208.svg#iconfont) format('svg')
}

.tm-m-photo-viewer-navicon {
    display: none;
    font-family: iconfont;
    font-size: 40px;
    font-style: normal;
    color: #C40000;
    cursor: pointer
}

.tm-m-photo-viewer-navleft {
    top: 0;
    left: 0;
    width: 10px;
    cursor: pointer
}

.tm-m-photo-viewer-navleft .tm-m-photo-viewer-navicon {
    position: absolute;
    top: 50%;
    left: 8px
}

.tm-m-photo-viewer-navright {
    top: 0;
    right: 0;
    width: 40px;
    cursor: pointer
}

.tm-m-photo-viewer-navright .tm-m-photo-viewer-navicon {
    position: absolute;
    top: 50%;
    right: 8px
}